---
- name: Preflight | Ensure Debian/Ubuntu (monitoring role)
  ansible.builtin.assert:
    that:
      - ansible_os_family == "Debian"
    fail_msg: "monitoring role currently supports Debian/Ubuntu only."

- name: Include node exporter tasks
  ansible.builtin.import_tasks: node_exporter.yml
  when: monitoring_install_node_exporter | bool

- name: Include Prometheus tasks
  ansible.builtin.import_tasks: prometheus.yml
  when: monitoring_install_prometheus | bool

- name: Include Grafana tasks
  ansible.builtin.import_tasks: grafana.yml
  when: monitoring_install_grafana | bool
