---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Install node exporter
  ansible.builtin.apt:
    name: prometheus-node-exporter
    state: present

- name: Ensure node exporter started and enabled
  ansible.builtin.service:
    name: prometheus-node-exporter
    state: started
    enabled: true

- name: Validate node exporter is reachable
  ansible.builtin.uri:
    url: "http://127.0.0.1:{{ node_exporter_port }}/metrics"
    status_code: 200

