---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Install MySQL server
  ansible.builtin.apt:
    name:
      - mysql-server
      - python3-pymysql
    state: present

- name: Ensure MySQL service running
  ansible.builtin.service:
    name: mysql
    state: started
    enabled: true
